.bigBox{

        display: flex;
        border-width: 2px 4px;
        height: 97vh;
        border-style: solid;
        justify-content: center;    
        align-items: center;
        
}


.smallBox{
border-width: 2px 4px;
border-style: solid;
border-color: orange;
width: 100px;
height: 50px;

}